<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Drive API</span>
    <span class="example-spacer"></span>
    <app-refresh-button></app-refresh-button>
    <ng-container *ngIf="signedIn | async; else login">
      <button mat-button (click)="signOut()">Kijelentkezés</button>
    </ng-container>
    <ng-template #login>
      <button mat-button (click)="signIn()">
        <mat-icon class="example-icon">person</mat-icon> Bejelentkezés
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
